{% extends 'base.html' %}

{% block meta %}
    {{ block.super }}
    {% load static %}
{% endblock meta %}

{% block title %} Home {% endblock title %}

{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
        <div>
            <h1>Welcome, {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></h1>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>Parties you participate: </h2>
                {% if parties %}
                    <ul>
                        {% for party in parties %}
                            <li><a href="{% url 'party' party.id %}">{{ party }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>May be you should find someone to speak?</h3>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h2>Parties you administrate: </h2>
                {% if adm_parties %}
                    <ul>
                        {% for party in adm_parties %}
                            <li><a href="{% url 'party' party.party.id %}">{{ party }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>You administrate no parties</h3>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h2><a href="{% url 'templates' %}">Your templates</a></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <form class="form-horizontal" action="{% url 'create-party' %}" method="post">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=create_party_form %}
{#                    {% include 'snippets/dynamic_fields_form.html' with formset=formset %}#}


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create party</button>
                    </div>
                </form>
{#                <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />#}
{#                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>#}
{#                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>#}
{#                <script type="text/javascript">#}
{#                    $('.formset_row').formset({#}
{#                        addText: 'add party member',#}
{#                        deleteText: 'remove'#}
{#                    });#}
{#                </script>#}
            </div>
        </div>

        <div class="row">
           <div class="col-lg-4">
                <form class="form-horizontal" action="{% url 'create-party-from-existing' %}" method="post">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=create_party_from_existing_form %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create party from existing one</button>
                    </div>
                </form>
            </div>
        </div>

        {% else %}
        <div>
            <h1><a href="{% url 'login' %}">Login</a> | <a href="{% url 'sign-up' %}">Sign up</a></h1>
                <p><strong>-- OR --</strong></p>
                <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                <a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}