{% extends 'base.html' %}

{% block meta %}
    {{ block.super }}
    {% load static %}
{% endblock meta %}
{% block title %} Home {% endblock title %}

{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
        <div>
            <h1>Welcome, {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></h1>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2>Parties you participate: </h2>
                {% if parties %}
                    <ul>
                        {% for party in parties %}
                            <li><a href="{% url 'party' party.id %}">{{ party }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>May be you should find someone to speak?</h3>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>Parties you administrate: </h2>
                {% if adm_parties %}
                    <ul>
                        {% for party in adm_parties %}
                            <li><a href="{% url 'party' party.party.id %}">{{ party }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>You administrate no parties</h3>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <form class="form-horizontal" action="{% url 'create-party' %}" method="post">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=create_party_form %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create party</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
           <div class="col-lg-4">
                <form class="form-horizontal" action="{% url 'create-party-from-existing' %}" method="post">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=create_party_from_existing_form %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create party from existing one</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <h1><a href="{% url 'templates' %}">Templates</a></h1>
        </div>

        <div class="row">
            <form action="{% url 'create-party-from-template' %}" method="post">
                {% csrf_token %}
                <input type="text" name="template">
                <button type="submit" class="btn">Create from template</button>
            </form>
        </div>

        {% else %}
        <div>
            <h1><a href="{% url 'login' %}">Login</a> | <a href="{% url 'sign-in' %}">Sign in</a></h1>
                <p><strong>-- OR --</strong></p>
                <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                <a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}