{% extends 'base.html' %}

{% block meta %}
    {{ block.super }}
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form class="form-horizontal" action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=login_form %}

                    {% if captcha_enabled %}
                    <div class="form-group">
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class='g-recaptcha' data-sitekey='{{ google_recaptcha_site_key }}'></div>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock content %}