{% extends 'base.html' %}

{% block meta %}
    {{ block.super }}
    {% load templatehelpers %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}

{% block title %}
    {{ party }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>{{ party }}{% if not is_active %} | Inactive {% endif %}</h1>
                {% if current_member.is_owner %}
                    {% if is_active %}
                        <form action="{% url 'party-set-inactive' party.id %}">
                            <button type="submit" class="btn btn-danger">Make inactive (this cannot be undone)</button>
                        </form>
                    {% endif %}

                    {% if not has_template %}
                    <form action="{% url 'create-template-from-party' party.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Make a template from this party</button>
                    </form>
                    {% endif %}

                    <form action="{% url 'delete-party' party.id %}">
                        <button type="submit" class="btn btn-danger">Delete party</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                {% if is_active %}
                <form class="form-inline" action="{% url 'sponsor-party' party.id %}">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=sponsor_party_form %}

                    <button type="submit" class="btn btn-success">Sponsor</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <caption><h2>Members</h2></caption>
                    <thead>
                        <th>Member</th>
                        <th>Sponsored</th>
                        <th>Actual expense</th>
                    </thead>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.profile }}</td>
                        <td>{{ member.total_sponsored }}</td>
                        <td>{{ member.actual_expense }}</td>
                        {% if is_active %}
                            {% if current_member.is_owner and member.profile != party.created_by %}
                                {% if current_member.is_owner %}
                                    <td>
                                        <form action="{% url 'kick-member' party.id %}">
                                            <input type="hidden" name="member" value="{{ member.id }}">
                                            <button type="submit" class="btn btn-danger">Kick</button>
                                        </form>
                                    </td>
                                {% endif %}

                                {% if member.is_owner %}
                                    <td>
                                        <form action="{% url 'party-revoke-ownership' party.id %}">
                                            <input type="hidden" name="member" value="{{ member.id }}">
                                            <button type="submit" class="btn btn-danger">Revoke ownership</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form action="{% url 'party-grant-ownership' party.id %}">
                                            <input type="hidden" name="member" value="{{ member.id }}">
                                            <button type="submit" class="btn btn-success">Grant ownership</button>
                                        </form>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% if is_active %}
                <form class="form-inline" action="{% url 'invite-member' party.id %}">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=add_member_to_party_form %}
                    <button type="submit" class="btn btn-success">Invite</button>
                </form>
                {% endif %}
            </div>

            <div class="col-lg-6">
                {% if ordered_food %}
                <table class="table">
                    <caption><h2>Order</h2></caption>
                     <thead>
                        <th>Product</th>
                        <th>PPU</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </thead>
                    {% for order_item in ordered_food %}
                    <tr>
                        <td>{{ order_item }}</td>
                        <td>{{ order_item.price }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.total }}</td>
                        {% if is_active %}
                        <td>
                            {% if order_item|is_excluded:request %}
                            <form action="{% url 'include-food' party.id %}" class="form-inline" style="display: inline">
                                <input type="hidden" name="order_item" value="{{ order_item.id }}">
                                <button type="submit" class="btn btn-success">Include</button>
                                <!--<i class="glyphicon glyphicon-plus-sign"></i>-->
                            </form>
                            {% else %}
                            <form action="{% url 'exclude-food' party.id %}" style="display: inline">
                                <input type="hidden" name="order_item" value="{{ order_item.id }}">
                                <button type="submit" class="btn btn-danger">Exclude</button>
                                <!--<i class="glyphicon glyphicon-minus-sign"></i>-->
                            </form>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'remove-food-from-party' party.id %}">
                                <input type="hidden" name="order_item" value="{{ order_item.id }}">
                                <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Remove</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <h1>Party ordered nothing for now</h1>
                {% endif %}
                {% if is_active %}
                <form class="form-horizontal" action="{% url 'add-custom-food-to-party' party.id %}">
                    {% csrf_token %}

                    {% include 'snippets/bs_form.html' with form=add_custom_food_to_party_form %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add custom food</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% if ordered_food %}
                    <table class="table">
                        <caption><h1>Details</h1></caption>
                        <thead>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>People</th>
                            {% for member in members %}
                            <th>{{ member.profile }}</th>
                            {% endfor %}
                        </thead>
                        {% for order_item in ordered_food %}
                            <tr>
                                <td>{{ order_item.name }}</td>
                                <td>{{ order_item.price }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.ppl_count }}</td>
                                {% for member in members %}
                                {% if order_item in member.excluded_food.all %}
                                <td>0</td>
                                {% else %}
                                <td>{{ order_item.price|mul:order_item.quantity|div:order_item.ppl_count|floatformat:2 }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="999"><b>Formula: </b><i>TO_PAY = (PRICE * QUANTITY) / PEOPLE_WHO_NOT_EXCLUDED</i></td>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>

        {% if is_active %}
        <div class="row">
            <div class="col-lg-12">
                {% if food %}
                    <table class="table">
                        <caption><h1>Available food</h1></caption>
                        {% for product in food %}
                        <tr>
                            <td>{{ product }}</td>
                            <td>{{ product.price }}</td>
                            <form action="{% url 'add-food-to-party' party.id %}">
                                <input type="hidden" name="food" value="{{ product.id }}">
                                <td><input type="number" min="1" value="1" name="quantity"></td>
                                <td><button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i></button></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}